In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

In [4]:
data=pd.read_csv("Book1.csv")
data

   ID     Name Languages
0   1  Anirudh  Samskrit
1   2      Sam       Kan
2   3      Ram   Marathi
3   4     Abhi       Kan
4   5      Anu   English
5   6   mahesh   English