In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

In [8]:
data=pd.read_csv("untitled1.csv")
data

   Grade': 'B'    'first_name': 'Amit'      'last_name': 'A'
0  Grade': 'A'    'first_name': 'Abhi'       'last_name': 'S'
1  Grade': 'C'     'first_name': 'Sam'   'last_name': 'Curan'
2  Grade': 'B'   'first_name': 'Karan'    'last_name': 'Nath'
3  Grade': 'A'   'first_name': 'Vijay'   'last_name': 'Kumar'

In [9]:
import csv
 
results = []
with open('untitled1.csv') as File:
    reader = csv.DictReader(File)
    for row in reader:
        results.append(row)
    print(results)

[OrderedDict([("Grade': 'B'", "Grade': 'A'"), (" 'first_name': 'Amit'", " 'first_name': 'Abhi'"), (" 'last_name': 'A' ", " 'last_name': 'S'")]), OrderedDict([("Grade': 'B'", "Grade': 'C'"), (" 'first_name': 'Amit'", " 'first_name': 'Sam'"), (" 'last_name': 'A' ", " 'last_name': 'Curan'")]), OrderedDict([("Grade': 'B'", "Grade': 'B'"), (" 'first_name': 'Amit'", " 'first_name': 'Karan'"), (" 'last_name': 'A' ", " 'last_name': 'Nath'")]), OrderedDict([("Grade': 'B'", "Grade': 'A'"), (" 'first_name': 'Amit'", " 'first_name': 'Vijay'"), (" 'last_name': 'A' ", " 'last_name': 'Kumar'")])]

SyntaxError: invalid syntax (<ipython-input-10-95b159aa6078>, line 4)